sudo: required
os: osx
language: node_js
node_js:
- 12
cache:
  directories:
  - node_modules
  - "$HOME/.yarn-cache"
install:
- npm install -g yarn
- cd starbeat-core
- yarn install
- cd ../starbeat-client
- yarn install
- cd ..
script:
- bash ./build-mac.sh
- cd release
- zip -r -q Tongfang-Hackintosh-Utility-macOS.zip Tongfang\ Hackintosh\ Utility-darwin-x64/Tongfang\
  Hackintosh\ Utility.app
deploy:
  provider: releases
  api_key:
    secure: EQdzuG45bkUBrWIIHOstXPH0SxVbdE1D7o8NQLh2QHrh9TvRJIiTQizA15gdFzxP6wVtl8rMb94mKeT7t/9+Z9wu5ZkE2UHW7toYozzxIYlEd+0ztrYsRNDPC8Y++tHvfEle5kOlfJIOs+/lSSPqYqpyJuZHh6xKaUZ1+rrVO5IdWI8yhdLjQsuGRsk/OmE3ZdQvWuwBhF1+bSV07MkXIZWlgngbSswHxiM3sC3Wv9ARMtRhHIyTLRgTLD/G+M7HdeomV7Yf3VpBJ4XyQnwp+VeYQXLj4j9HEQLY+F+9Uofb6CMZEFT2Ep4+4F3k/CU01IOdfGgvtNvpjMNrByNYOWEpwYDXZ40BhHrHIZgD5PmU0RFFZqfwnYVcbbV3uH0iRhGoAHLXDgJsKG+9v7p0RhzxXLW54C6r7u2om5UJ3l0U/zw4PlhzOu1MrfQjiYp+eKE8XGSkHTOBk0719PphMEEZg9mfYz+uJ0eyIDk5zB1gVfhPcU9jf0m+CDowfYS2UipFxKl0O7Hijl+XZH76c4NwN+yjEVYyeKk1hS+O9JFc/dy9YBq46JTvbau0mdQJaoRpkRN3+9qIY0QNIYDzY6i8aj5FGk3Fxb++TGPhEuN6WNDQuuloWGYwI2SiVHT2Gxjrse1Qu36b0LdWGuIKXrviDHZnVZvdP834TklzNRE=
  file: "./release/Tongfang-Hackintosh-Utility-macOS.zip"
  on:
    tag: true
    all_branches: true
    repo: kirainmoe/tongfang-hackintosh-utility
