sudo: required
os: osx
language: node_js
node_js:
- 12
cache:
  directories:
  - node_modules
  - "$HOME/.yarn-cache"
install:
- npm install -g yarn
- cd starbeat-core
- yarn install
- cd ../starbeat-client
- yarn install
- cd ..
script:
- bash ./build-mac.sh
- cd release
- zip -r -q Tongfang-Hackintosh-Utility-macOS.zip Tongfang\ Hackintosh\ Utility-darwin-x64/Tongfang\
  Hackintosh\ Utility.app
deploy:
  provider: releases
  api_key:
    secure: hISqVzda154GtQ8cuXpYIVHUkaetzheRzmatb/IUHyNsXjBNBOKYQq6wxCHElitVdcJiVAvAiTnG+M4ioco/fDqDLk3tAGc/zLZjP1T5sJ+R45J5s03rxd3cl36q+urBjlbA0BtVaZqIMlG9EmBQveccJsp0Zn/ICbBw/HMjJR1CFx7/sWw/5kF/7qgnQjzPM0uc6YBa1qvee6hznyvUBz9igV1Lc07v4OzxEXreRepkhlTZteoLsbYyt4TvseKu/FxfLiHL5ID/T3K7YeKUoGIn4wfmQKmHXiHD1X0TMB3Yiu22V+XzQmFYtbGBiL+uU8ECX6MZHnjsOb3R8r45r2UKlEsVkf7n4j7YDlGm/PeSDM1hCNQKNRP1ctd84Sz/cG/8Sw5GD/WFA8oMtYUSkNjGvE6ZWih8eNbe+mNZggcU29SfIUuhNPHns7M35+5R13UPF+MjRhNea9+wnkAQ1Veu0ywt62lmyTiBFVHrHgI0cK1pVtnY1UEp/UUQlgb7Vfe7xdxhQEM9MIe0qWWt/wmv65RQ4D9KdUYLmkqjqQ1TzGtuuZKWyGOhy4qC/x54jHorm6Cic6an3D/XtJS4Le5Yoo8IJ3NJfbbUS5Ayz5rwZPcOyrLzwgoxznBULeetG3OC6HwKX9zXYoSfBtz62tByNK+Hhh1/YeHbcMd+Jmc=
  file: "./release/Tongfang-Hackintosh-Utility-macOS.zip"
  on:
    tag: true
    repo: kirainmoe/tongfang-hackintosh-utility
