.about
    width: 100%
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    
    .bugreport-feature
        margin: 30px 0px
        
    .latest-version
        float: right
        margin-right: 40px