.about
    width: 100%
    font-size: 13px
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    
    .bugreport-feature
        margin: 20px 0px
        
    .latest-version
        float: right
        margin-right: 40px