.configure
    width: 100%
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    .oc-logo
        position: absolute
        top: 40px
        right: 20px
    .form-container
        margin-top: 20px

        .inject-options
            height: 120px
            overflow-y: auto
            .ant-checkbox-wrapper
                width: 50%
                margin: 5px 0px

        & > p, .half > p
            margin: 8px 0px 8px 0px
            font-weight: bold
        
        .smbios-input
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            div
                width: 48%
                margin-bottom: 5px
    .version-info
        display: flex
        .version-tag
            width: 50%
            margin: 0px
    .actions
        margin-top: 20px
        text-align: center

    .configure-success
        margin-top: 20px
        .success-image
            margin: 50px
            text-align: center
            svg
                width: 120px
                height: 120px
        .success-item
            list-style: circle
            margin-left: 10px
            margin-top: 8px
    .half
        width: 48%
        display: inline-block

    .flex
        display: flex
        justify-content: space-between

    .ant-btn-link
        padding: 0px
        margin: 0px

.toobox-win-unsupported
    .win-icon
        width: 100%
        margin: 50px 0px
        text-align: center