.lab
    width: 100%
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    .remind
        color: #999
        font-size: 12px
    .ant-form
        margin: 20px 0px
        .ant-input-group
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            .ant-form-item
                width: 48%
    .load-itlwm
        text-align: center
    .download-heliport
        text-align: center
    .heliport-icon
        width: 120px
        height: 120px
        margin: 50px auto
        cursor: pointer