.navigator
    width: 120px
    height: 100%
    padding: 30px 0px 10px 0px
    background: #e6f7ff
    position: fixed

    .logo
        text-align: center
        padding: 10px 0px
        img
            width: 50px
            height: 50px

    .nav-link
        width: 100%
        text-align: center
        display: block
        text-decoration: none
        padding: 10px 0px
        font-size: 14px
        background: transparent
        transition: .2s all ease-in
        p
            transition: .2s all ease-in
            color: #000
            margin: 0px

        &.active
            background: #91d5ff
            border-right: 2px solid #1890ff
            outline: 0
            p
                color: #fff

    svg
        width: 40px
        height: 40px
    
    .starbeat-version
        width: 100%
        font-size: 10px
        text-align: center
        color: #888
        position: absolute
        bottom: 10px