.setting
    width: 100%
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    .setting-container
        margin: 40px 20px
    .right-aligned
        text-align: right
    .setting-tips
        font-size 14px
        color: #888888
        float: left
    .save-button
        position: fixed
        bottom: 20px
        left: 50%
    .setting-description
        color: #888888