.toolbox
    width: 100%
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    .indicator
        position: absolute
        right: 35px
        top: 160px
        z-index: 233
    .toolbox-actions
        width: 100%
        display: flex 
        justify-content: space-between
        margin: 10px 0px
        flex-wrap: wrap
        .action-block
            width: 46%
            height: 240px
            padding: 20px
            margin: 0px 10px
            text-align: center
            cursor: pointer
            background: transparent
            transition: .2s all ease-out
            &:hover 
                background: rgba(114, 114, 114, 0.1)
            h3
                font-size: 18px
            svg
                width: 100px
                height: 100px