.top-button-container
    width: 100%
    height: 30px
    -webkit-app-region: drag;
    position: fixed
    top: 0px
    z-index: 1

.top-button-exit, .top-button-minimize, .top-button-maxmize
    width: 11px
    height: 11px
    border: 0px
    margin: 8px 5.5px
    padding: 0px
    border-radius: 50%
    display: inline-block
    background: #000
    outline: none
    transition: .2s all linear
    position: fixed
    top: 2px
    z-index: 233
    -webkit-app-region: none

.top-button-exit
    background: rgb(255, 96, 86)
    left: 5px
    &:hover
        background: darken(rgb(255, 96, 86), 30%)

.top-button-minimize
    background: rgb(253, 190, 41)
    left: 25px
    &:hover
        background: darken(rgb(253, 190, 41), 30%)

.top-button-maxmize
    background: rgb(45, 208, 71)
    left: 45px
    &:hover
        background: darken(rgb(45, 208, 71), 30%)