.updater
    width: 100%
    padding: 40px 25px 0px 25px
    .page-title
        font-size: 22px
    .update-log
        margin: 20px 0px
        padding: 10px
        height: 380px
        background: #eee
        