.inline-block {
    display: inline-block;
}

/* navigation */
.app-description {
    display: inline;
    font-size: 14px;
    margin: 0px 20px;
}

/* tab */
.tab-body {
    padding: 20px 20px 0px 20px;
}

/* color picker */
input[type="color"] {
    width: 60px;
    height: 60px;
    border: 0px;
}
.monoColor-preview {
    visibility: hidden;
    pointer-events: none;
}
.color-operation {
    position: relative;
}
.apply {
    float: right;
}
.color-menu-title {
    margin-right: 5px;
    color: #000;
}
.color-settings {
    margin-top: 0px;
    text-align: right;
}
.switch.inline-block {
    margin-bottom: 10px;
}
.color-sliders {
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding: 0px 10px;
}

/* about */
#about-app {
    padding-top: 50px;
    text-align: center;
}
.about-title {
    margin: 15px 0px;
    text-align: center;
}
.about-version {
    color: #888888;
}

/* supported-device */
.supported-devices-list {
    text-align: center;
}
.supported-devices-list figure {
    display: inline-block;
}